<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <script type="application/javascript"  src="{{ static_url('js/jquery-3.1.1.min.js') }}"></script>
    <script type="application/javascript"  src="{{ static_url('js/base.js') }}"></script>
    <link rel="stylesheet" href="{{ static_url('css/reset.css') }}"/>
    <link rel="stylesheet" href="{{ static_url('css/base.css') }}"/>
    {% block other %}
    {% end %}
</head>
<body>
    <div id="main">
        <p><h1>{{title}}</h1></p>
        {% block main %}
        {% end %}
    </div>
</body>
</html>