*{
    text-align: center;
    padding: 0;
    margin: 0;
    font-size: medium;
}
div{
    margin: 1px;
    border: solid 2px black;
}
#main{
    position: relative;
    width: 50%;
    margin: 5% auto;
}
#chat{
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
}
#left{
    overflow: auto;
    height: 100%;
    flex-grow: 2;
    text-align: left;
}
#right{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    flex-grow: 8;
}
#charhistory{
    overflow: auto;
    /*flex-grow: 9;*/
    height: 90%;
}
#charhistory p{
    text-align: left;
}
#send{
    display: flex;
    flex-flow: row nowrap;
    /*flex-grow: 1;*/
    height: 10%;
}
#message{
    text-align: left;
    flex-grow: 9;
}
#sendmessage{
    flex-grow: 1;
}
#quit{
    position: absolute;
    background-color: red;
    width: 40px;
    line-height: 25px;
    height: 25px;
    top: 0;
    right: 0;
}
